.idea
.vscode
*.DS_Store
*.orig
*.sublime-workspace
*.sublime-project
terminal.glue
Thumbs.db
.jshintrc
node_modules/
npm-debug.log
package-lock.json
/.idea/*
Nginx-*
.htaccess
vendor/*
web/bundles/urlmanager/assets/Yii.UrlManager.definitions.js
