table.schedule .schedule__td._dayoff {
    border-top-color: #c86478;
}

table.schedule .schedule__th {
    text-align: center;
    padding-bottom: 5px;
}

table.schedule .schedule__td {
    position: relative;
    padding: 10px 0;
    border-top: 2px solid #8cd232;
    vertical-align: bottom;
    font: 12px/1 Helvetica, Arial, sans-serif;
}

table.schedule {
    display: table;
    box-sizing: border-box;
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}

table.schedule .schedule__dayoff {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iI0JFQkVCRSIgZD0iTTExLDEyaDF2LTFMNyw2bDUtNVYwaC0xTDYsNUwxLDBIMHYxbDUsNWwtNSw1djFoMWw1LTVMMTEsMTJ6Ii8+PC9zdmc+') no-repeat;
    width: 12px;
    height: 12px;
    position: relative;
    top: 1px;
    display: inline-block;
    color: transparent;
    font: 0/0 a;
}

table.schedule td {
    max-width: 20px;
    cursor: pointer;
}

table.schedule time {
    display: block;
}

