<div class="footer d-print-none">

    <div class="color-line" style="height:4px;">
        <div class="bg-info"></div>
        <div class="bg-primary"></div>
        <div class="bg-success-light"></div>
        <div class="bg-success"></div>
        <div class="bg-purple-light"></div>
        <div class="bg-purple"></div>
        <div class="bg-danger-light"></div>
        <div class="bg-danger"></div>
        <div class="bg-warning-light"></div>
        <div class="bg-warning"></div>
    </div>

    <div class="p-3 row justify-content-center" style="height:30px;">
        <div class="text-center col-auto align-self-center">
            <a target="modal" style="text-decoration: underline;" href="{{ organizationPath(['/main/updates']) }}" class="text-very-light-gray">{{ translate('main','Обновления') }}</a>
        </div>
        <div class="text-center col-auto align-self-center">
            <a target="modal" style="text-decoration: underline;" href="{{ organizationPath(['/main/support']) }}" class="text-very-light-gray">{{ translate('main','Написать в службу поддержки') }}</a>
        </div>
    </div>

</div>