.autocomplete-suggestions {
    width:auto !important; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #2c3e50;
    margin-top:3px;
    border-radius:4px;
}
.autocomplete-suggestion { padding: 4px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.datepicker, .bootstrap-timepicker-widget {
    z-index:9999 !important;
}


.modal-llg {
    width:auto;
    max-width:80%;
}

.modal-fullscreen {
    width:100%;
    max-width: 100%;
    height:98%;
    margin:5px;
}
.modal-fullscreen .modal-content, .modal-fullscreen .modal-content .modal-body, .modal-fullscreen .inner-wrapper, .modal-fullscreen .action-content {
    height:100%;
}

#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    height:62px;
    z-index:999999;
}
#preloader .bg {
    z-index: 1;
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.sk-spinner-wave.sk-spinner {
    margin:-15px 0 0 -25px;
    position:fixed;
    left:50%;
    top:50%;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
    z-index: 2;
}
.sk-spinner-wave div {
    background-color: #fff;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
    animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
}
.sk-spinner-wave .sk-rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.sk-spinner-wave .sk-rect3 {-webkit-animation-delay: -1s;animation-delay: -1s;}
.sk-spinner-wave .sk-rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;}
.sk-spinner-wave .sk-rect5 { -webkit-animation-delay: -0.8s;animation-delay: -0.8s;}

@-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
    20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}
@keyframes sk-waveStretchDelay {
    0%, 40%, 100% {-webkit-transform: scaleY(0.4);transform: scaleY(0.4);}
    20% { -webkit-transform: scaleY(1);transform: scaleY(1);}
}

#preloader.top .sk-spinner {
    top:30px;
}